
main {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

ol,ul {
    display: inline-block;
    text-align: left;
}

@media screen and (min-width: 500px) {
    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1400px;
    }
}

@media screen and (min-width: 800px) {
    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 900;
    }
}

@media screen and (min-width: 1500px) {
    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1400px;
    }
}

