

#body-container {
    background-image: url('./assets/movie-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 2px solid red;
    border-width: 50px;
    color: white;
    height: 100vh;
}

header {
    background-color: black;
}


footer {
    background-color: black;
}