#body-container {
    background: rgb(87,86,85);
    color: rgb(159, 164, 165);
    min-height: 100vh;
    margin: 24px;
    padding-left: 0;
    align-items: center;
    box-sizing: border-box;
    border: groove rgb(21,21,21);
}

body {
    border: groove;
    border-color: rgb(21,21,21);
    border-width: 30px;
    padding: 0;
}