#head {
    font-size: 1.3rem;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
}

.link:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer
}

body {
    margin: 0;
    padding: 0;
}

header, footer {
    width: 100%;
    box-sizing: border-box;
}

#body-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}